/* REFERENCE FORM.JSX */

.welcome-h1 {
    font-size: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 2px rgba(178, 38, 17, 0.1);
    max-width: 500px;
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #45a68f;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #7966a1;
    color: rgb(246, 246, 246);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .form-button:hover {
    background-color: #1fad1f;
  }

.link-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 20px;
}